html,
body {
	padding: 0;
	margin: 0;
	overflow:hidden;
	height: 100%;
}

#title-bar {
	margin: 0;
	padding: 0;
    -webkit-app-region: drag;
	height: 21px;
	background-color: rgb(44, 37, 65);
}

#url-div {
	width: 100%;
	height: auto;
	margin: 0;
	text-align: center;
	position: fixed;
	left: 0;
	top: 21px;
}

#url-address {
	width: 300px;
	border: 2px solid #eb1478;
	border-radius: 5px;
	heightL: 21px;
	line-height: 21px;
	font-family: arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;

	color: rgb(51, 51, 51);
	-webkit-appearance: none;
}

#web-content {
	padding: 0;
	margin: 0;
	width: 100%;
	height: calc(100% - 21px);
}
